:root{
  --lightgray: #f2f2f2;
  --gray: #cccccc;
  --brown: #301f1f;
  --beige: #645853;
  --darkcyan: #1b998b;
  --cyan: #83E8BA;
  --liorange: #ffe6d5;
  --flamingo: #ff9e8d;
}
* {
  box-sizing: border-box;
}
html, body {
  font-family: 'Quicksand', 'Montserrat', sans-serif;

  background-color: var(--lightgray);
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* top banner values */
header.top {
  display: inline-flex;

  background-color: var(--brown);
  color: var(--liorange);
  padding: 15px;
  text-align: left; 

  width:100%;
  height: auto;
} 
img[src*="img/FishLogo.svg"] { 
  width: auto; 
  height: 30px;
  padding-left: 1vw;
  padding-right: 2vw;
}
header.top>a {
  text-decoration: none;
  color: inherit;
  font-size: 25px; 
  font-weight: bold;
  margin-right: 5vw;
}
.site-nav.active{
  text-decoration-line: underline;
}
.site-nav:hover {
  background-color: var(--beige);
  font-style:  italic;
  text-decoration-line: underline;
}

/* Middle values */
.middle {
  display: grid;
}

/* Footer Values */
footer.bottom {
  grid-row-start: 3;
  grid-row-end: 4;
}
footer>p {
  color: var(--darkgray);
}

/* Home page */
section {
  display: inherit;
}
#home { 
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
#home .img {
flex-basis: 40%;
padding-right: 25px;
align-self: center;
}
#home .img>img[src*="img/Sunfish.svg"] {
  height: 400px;
  float: right;
}
#home .container{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  font-weight: bolder;

  font-optical-sizing: auto;
  align-self: center;
  flex-basis: 60%;
  line-height: 2;
}
#home h1:nth-last-child(3) { color: var(--darkcyan);}
#home h1:nth-last-child(2) { color: var(--beige); }
#home h1:nth-last-child(1) { color: var(--flamingo); }

/*About Page*/
#about {
  display: grid;
  
  grid-template-areas: 
    "a b"
    "a c"
    "d e"
    "f e";

  grid-template-rows: 0.5fr 0.5fr 0.125fr 1fr;
  grid-template-columns: 0.5fr 2fr;
  
  grid-gap: 1rem;
  
  margin-right: 4rem;
  margin-left: 4rem;
}
#about .portrait {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
#about .portrait>img[src*="img/AboutIcon.svg"] {
  display: block;
  height: auto;
  width: 100%; 
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}
#about .title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
#about .desc {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/*** Mobile page change ***/
@media (max-width: 700px){
  header.top {
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  header.top img[src*="img/FishLogo.svg"] {
    flex-basis: 100%;
    align-self: center;
    margin-bottom: 1rem;
  }
  header.top>a {
    flex-grow: 4;
    padding-right: 1vw;
    margin-right: unset;
  }
  .site-nav.active{
    background-color: var(--beige);
  }

  /**Home Page Mobile specifics**/
  #home {
    padding: 0;
    flex-direction: column;
  }
  #home .img {
    flex-basis: 50%;
    align-self: center;
    padding-right: unset;
  }
  #home .img>img[src*="img/Sunfish.svg"] {
    height: auto;
  }
  #home .container{
    text-align: center;
    line-height: 1;

    align-self: center;
    padding-top: 10px;
  }

  .hometext {
    font-size: 1em;
  }

}

