:root{
  --lightgray: #f2f2f2;
  --gray: #cccccc;
  --brown: #301f1f;
  --beige: #645853;
  --darkcyan: #1b998b;
  --cyan: #83E8BA;
  --liorange: #ffe6d5;
  --flamingo: #ff9e8d;
}
* {
  box-sizing: border-box;
}
html, 
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--lightgray);
  margin: 0 auto;
  padding: 0;
}
section {
  display: -webkit-flex;
  display: flex;
}
/* top banner values */
header.top {
  display: inline-block;
  background-color: var(--brown);
  color: var(--liorange);
  padding: 15px;
  text-align: left; 
  width:100%;
  height: auto;
} 
img[src*="img/FishLogo.svg"] { 
  width: auto; 
  height: 30px;
  padding-left: 1vw;
  padding-right: 2vw;
  vertical-align: text-bottom;
}
header>a {
  text-decoration: none;
  color: inherit;
  padding-right: 5vw;
  font-size: 25px; 
}

.site-nav {

}

/* homepage main body values */
.homepage { 
  display: inline-flex;
  padding: 10vw;
}
img[src*="img/Sunfish.svg"] {
  width:40vw;
  padding-left: 10vw; 
  height: 350px;
  scroll-behavior: auto;
  align-self: : left;
  position: relative;
  top: 21px;
}
div.homepage>div{
  align-self: right;
  text-align: center;
  font-size: 45px;
  font-optical-sizing: auto;
  width: 60vw;
  padding-right: 10vw;
  
}
.homepage h1:nth-last-child(3) { color: var(--darkcyan);}
.homepage h1:nth-last-child(2) { color: var(--beige); }
.homepage h1:nth-last-child(1) { color: var(--flamingo); }

/*About Page*/

@media (max-width: 700px){
  header.top {
    flex-direction: column;
  }

  .homepage {
    padding: 0;
    flex-direction: column;
  }
  
  div.homepage>div {
    align-self: end;
    width: 100vw;
    padding-right: 0;
  }

  img[src*="img/Sunfish.svg"] {
    width: 100vw;
    align-self: top;
    top: 0px;
    padding-left: 0;
    padding: 10px;
  }
}

