---
layout: default.ejs
permalink: /about.html
---
<section id="about">
  <div class="portrait">
    <img src="img/AboutIcon.svg" alt="Cynlet's Tuna Icon Design"/>
  </div>

  <div class="title">
    <h1 class="text--1">Hello, I am Cynthia</h1>
  </div>

  <div class="desc">
    <h3 class="text--2">
    The average adult Sunfish is 1.8m. They move at the lightning speed of 3.2km/h. Like the mola mola, I, too, wish to be a behemoth of the digital sea. Wandering at the pace of the ocean's current. I love the access of eleventy, the cleanness of SASS and Tailwind, and templeting power of EJS and Nunjucks. I marvel at the trivial and mundane. That's why I'm learning nunjucks at 2 AM trying to get this CSS grid to work
    </h3>
  </div>
</section>

