{% set body_class = "home" %}
{% extends "default.njk" %}

{% block content %}
<section>
  <div class="img">
    <img src="img/Sunfish.svg" alt="Cynlet's Sunfish Icon Design"/>
  </div>
  <div class="container">
    <h1 class="hometext hometext--1">WEB DEVELOPER</h1>
    <h1 class="hometext hometext--2">CYNTHIA LU</h1>
    <h1 class="hometext hometext--3">GRAPHIC DESIGN</h1>
  </div>
</section>
{% endblock %} 
