---
layout: default.ejs
permalink: /
---

<section>
  <div class="homepage">
    <img src="img/Sunfish.svg" alt="Cynlet's Sunfish Icon Design"/>
    <div>
      <h1>WEB DEVELOPER</h1>
      <h1>CYNTHIA LU</h1>
      <h1>GRAPHIC DESIGN</h1>
    </div>
  </div>
</section>
