<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cynlet's Programming Den </title>
  <link rel="icon" href="/img/FishLogo.svg" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Quicksand&display=swap">
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <style>
  {% include "css/styles.css" ignore missing %}
  </style>
</head>

<body>

  {% include "_header.njk" %}

  {% block content %}
    <main class="middle">
    <!-- content -->
    </main>
  {% endblock %}

  {% include "_footer.njk" %}

</body>

