---
title:
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><% if(title){ %><%= title %> – <% } %>Cynlet's Programming Den</title>
	<link rel="icon" href="/img/FishLogo.svg" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>

  <div class="main">
    <header class="top">
      <img src="/img/FishLogo.svg" alt="CynLu Logo"></img>
      <a href="/">Home</a>
      <a href="/Blog">Blog</a>
      <a href="/Work">Work</a>
      <a href="/About">About</a>
    </header>
    
    <section>
      <%- content -%>
    </section>
  </div>

</body>
</html>
